# Environment Variables for Vedha Web

# Formspree Form ID
# Get this from: https://formspree.io/
REACT_APP_FORMSPREE_ID=xwvndelg

# Slack Webhook URL (configured in Formspree's Slack plugin)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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